<img src="https://drive.google.com/uc?export=view&id=1nMaBQ7g88duMECw_B4mH8ruxwnIwVzGP" width=300/> 

# ML-1: Exploratory Data Analysis, Visualisation & Modeling
## Homework 1: Who is the best singer ever?

**ML-1 Cohort 1** <br>
**Instructor: Dr. Rahul Dave**<br>
**Max Score: 100** <br>

Name of people who have worked on this homework:

Akshay Kumar, Aziza Mirsaidova

## Table of Contents 
* [HW-1: Who is the best singer ever?](#HW-1:-Who-is-the-best-singer-ever?)
  * [Instructions](##Instructions)
  * [Learning Goals](##Learning-Goals)
  * [Q1: Scrape and Parse Wikipedia for Billboard Top 100](##Q1:-Scrape-and-Parse-Wikipedia-for-Billboard-Top-100)
    * [1.1 Scrape and Parse the Billboard Wikipedia's page for 1970](###1.1-Scrape-and-Parse-the-Billboard-Wikipedia's-page-for-1970)
    * [1.2 Scrape Billboard Wikipedia's pages from 1992 to 2020](###1.2-Scrape-Billboard-Wikipedia's-pages-from-1992-to-2020)
    * [1.3 Parse the data](###1.3-Parse-the-data)
  * [Q2: Construct a year-song-singer dataframe](##Q2:-Construct-a-year-song-singer-dataframe)
  * [Q3: Scrape and Parse Wikipedia for Information about Artists and Bands](##Q3:-Scrape-and-Parse-Wikipedia-for-Information-about-Artists-and-Bands)
    * [3.1 Scrape the artist's Wikipedia webpages](###3.1-Scrape-the-artist's-Wikipedia-webpages)
    * [3.2 Parse the data](###3.2-Parse-the-data)
  * [Q4: Merging Artist's and Song dataframes](##Q4:-Merging-Artist's-and-Song-dataframes)
  * [Q5: Pandas and Relational databases](##Q5:-Pandas-and-Relational-databases)
    * [5.1 Populating the database](###5.1-Populating-the-database)
    * [5.2 Performing operations on the database](####5.2-Performing-operations-on-the-database)
      * [5.2.1 Select all singers below the age of 20 whos Zodiac Sign is Scorpio!](####5.2.1-Select-all-singers-below-the-age-of-20-whos-Zodiac-Sign-is-Scorpio!)
      * [5.2.2 Find the most popular artists with most appearances in Billboard Top 10](####5.2.2-Find-the-most-popular-artists-with-most-appearances-in-Billboard-Top-10)
      * [5.2.3 Select all songs with ranking less than 6 and order the rows by artist name](####5.2.3-Select-all-songs-with-ranking-less-than-6-and-order-the-rows-by-artist-name)

## Instructions

- This homework should be submitted in pairs.

- Ensure you and your partner together have submitted the homework only once. Multiple submissions of the same work will be penalised and will cost you 2 points.

- Please restart the kernel and run the entire notebook again before you submit.

- Running cells out of order is a common pitfall in Notebooks. To make sure your code works restart the kernel and run the whole notebook again before you submit. 

- To work on the homework, you will first need to fork the repository into your GitHub account and clone it to work on it on your local computer. To submit your homework, push your homework into the same GitHub and upload the link on edStem.

- Submit the homework well before the given deadline. Submissions after the deadline will not be graded.

- We have tried to include all the libraries you may need to do the assignment in the imports statement at the top of this notebook. We strongly suggest that you use those and not others as we may not be familiar with them.

- Comment your code well. This would help the graders in case there is any issue with the notebook while running. It is important to remember that the graders will not troubleshoot your code. 

- Please use .head() when viewing data. Do not submit a notebook that is **excessively long**. 

- In questions that require code to answer, such as "calculate the $R^2$", do not just output the value from a cell. Write a `print()` function that includes a reference to the calculated value, **not hardcoded**. For example: 
```
print(f'The R^2 is {R:.4f}')
```
- Your plots should include clear labels for the $x$ and $y$ axes as well as a descriptive title ("MSE plot" is not a descriptive title; "95 % confidence interval of coefficients of polynomial degree 5" is).

- **Ensure you make appropriate plots for all the questions it is applicable to, regardless of it being explicitly asked for.**

<hr style="height:2pt">

## Learning Goals

Billboard Magazine puts out a top 100 list of "singles" every **year**. 
In the next two homeworks, you will scrape Wikipedia to try to understand how the public's taste in music has evolved. You will do this by learning about the best singers and groups from each year as determined by the Billboard top 100 charts.

This homework consists of five main parts:

1. Scraping and Parsing [Wikipedia's Billboard Top 100 singles](https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2020) list for every year <br>
2. Constructing a year-song-singer dataframe from the scraped data
3. Scraping and Parsing Wikipedia's information about the Artists from these Songs 
4. Merging in both the above dataframes 
5. Using a Relational Database to perform SQL queries

This homework will help develop your skills in:

- Web page scraping
- Data cleaning and manipulation
- Pandas and SQL

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

---

In [ ]:
#Import libraries
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import time
import json
import re
import requests

In [ ]:
!unzip /content/Homework1-master.zip

unzip:  cannot find or open /content/Homework1-master.zip, /content/Homework1-master.zip.zip or /content/Homework1-master.zip.ZIP.

## Q1: Scrape and Parse Wikipedia for Billboard Top 100
#### [20 Points]

In this first question you will scrape wikipedia for Billboard's top 100.

We will be using [BeautifulSoup](http://www.crummy.com/software/BeautifulSoup/) to transform HTML content into Python data structures. There are other libraries such as [PyQuery](https://pythonhosted.org/pyquery/) (for people who have used [jQuery](https://jquery.com/) that can also be used).

In [ ]:
#Import Beautiful Soup
from bs4 import BeautifulSoup

### 1.1 Scrape and Parse the Billboard Wikipedia's page for 1970

Use python's `requests` module to obtain (GET) the web page at http://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1970. 
From this web page, extract the top 100 singles and their rankings. 


To do this, create a list of dictionaries, 100 of them to be precise, with the following entries: `{'url': '/wiki/Sugarloaf_(band)', 'ranking': 30, 'band_singer': 'Sugarloaf', 'title': 'Green-Eyed Lady'}`. 

Name this list of dictionaries `songs`.


Here, `url` should be the link for the singer or band (observe that on the web page, there is a link for every song and artist), `ranking` is the ranking of the song, `band_singer` should be the name of the artist(s) and `title` should be the title of the song.


We are extracting the `url` of the artist(s) to use at a later stage in the homework.

*Hint:*
While parsing the HTML, look for the HTML _tr_ (table row) element, but only the one that has a CSS class of _wikitable_. If you look at the page source, you'll see a construct like __class=wikitable__ on the table as seen below:



![Wikipage](
https://drive.google.com/uc?export=view&id=1ntewsqyZVH6_RETloTQgrWIyQJAa_02D)

In [ ]:
#Get the webpage
t1970=requests.get("http://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1970")
t1970.status_code

200

In [ ]:
#Parsing the webpage
t1970_data = t1970.text
t1970_data = BeautifulSoup(t1970_data, 'html.parser')
# t1970_data.tbody
# t1970_data.find_all('td')

t1970_data.find_all(class_ = "mw-body-content")
t1970_data.tbody.find_all('td')
# len(t1970_data.tbody.find_all('td'))

# song  = [{'url': '/wiki/Sugarloaf_(band)', 'ranking': 30, 'band_singer': 'Sugarloaf', 'title': 'Green-Eyed Lady'}] 
# t1970_data.tbody.find_all('td')[0].string
# t1970_data.tbody.find_all('td')[1].a["title"]
# t1970_data.tbody.find_all('td')[2].a["href"]
# t1970_data.tbody.find_all('td')[2].a["title"]
# song.append({'url': t1970_data.tbody.find_all('td')[2].a["href"], 'ranking': int(t1970_data.tbody.find_all('td')[0].string), 'band_singer': t1970_data.tbody.find_all('td')[2].a["title"], 'title': t1970_data.tbody.find_all('td')[1].a["title"]})
# print(song)


#your code here
song = []
# for value in range(len(t1970_data.tbody.find_all('td'))):
value = 0
while value <300:
  song.append({'url': t1970_data.tbody.find_all('td')[value+2].a["href"], 'ranking': int(t1970_data.tbody.find_all('td')[value].string), 'band_singer': t1970_data.tbody.find_all('td')[value+2].a["title"], 'title': t1970_data.tbody.find_all('td')[value+1].a["title"]})
  value = value+3
print(song)

[{'url': '/wiki/Simon_%26_Garfunkel', 'ranking': 1, 'band_singer': 'Simon & Garfunkel', 'title': 'Bridge Over Troubled Water (song)'}, {'url': '/wiki/The_Carpenters', 'ranking': 2, 'band_singer': 'The Carpenters', 'title': '(They Long to Be) Close to You'}, {'url': '/wiki/The_Guess_Who', 'ranking': 3, 'band_singer': 'The Guess Who', 'title': 'American Woman'}, {'url': '/wiki/B.J._Thomas', 'ranking': 4, 'band_singer': 'B.J. Thomas', 'title': "Raindrops Keep Fallin' on My Head"}, {'url': '/wiki/Edwin_Starr', 'ranking': 5, 'band_singer': 'Edwin Starr', 'title': 'War (The Temptations song)'}, {'url': '/wiki/Diana_Ross', 'ranking': 6, 'band_singer': 'Diana Ross', 'title': "Ain't No Mountain High Enough"}, {'url': '/wiki/The_Jackson_5', 'ranking': 7, 'band_singer': 'The Jackson 5', 'title': "I'll Be There (The Jackson 5 song)"}, {'url': '/wiki/Rare_Earth_(band)', 'ranking': 8, 'band_singer': 'Rare Earth (band)', 'title': 'Get Ready (The Temptations song)'}, {'url': '/wiki/The_Beatles', 'ranking': 9, 'band_singer': 'The Beatles', 'title': 'Let It Be (Beatles song)'}, {'url': '/wiki/Freda_Payne', 'ranking': 10, 'band_singer': 'Freda Payne', 'title': 'Band of Gold (Freda Payne song)'}, {'url': '/wiki/Three_Dog_Night', 'ranking': 11, 'band_singer': 'Three Dog Night', 'title': 'Mama Told Me Not to Come'}, {'url': '/wiki/Ray_Stevens', 'ranking': 12, 'band_singer': 'Ray Stevens', 'title': 'Everything Is Beautiful'}, {'url': '/wiki/Bread_(band)', 'ranking': 13, 'band_singer': 'Bread (band)', 'title': 'Make It with You'}, {'url': '/wiki/Vanity_Fare', 'ranking': 14, 'band_singer': 'Vanity Fare', 'title': "Hitchin' a Ride (Vanity Fare song)"}, {'url': '/wiki/The_Jackson_5', 'ranking': 15, 'band_singer': 'The Jackson 5', 'title': 'ABC (The Jackson 5 song)'}, {'url': '/wiki/The_Jackson_5', 'ranking': 16, 'band_singer': 'The Jackson 5', 'title': 'The Love You Save'}, {'url': '/wiki/Neil_Diamond', 'ranking': 17, 'band_singer': 'Neil Diamond', 'title': "Cracklin' Rosie"}, {'url': '/wiki/Tony_Orlando_and_Dawn', 'ranking': 18, 'band_singer': 'Tony Orlando and Dawn', 'title': 'Candida (song)'}, {'url': '/wiki/Sly_%26_the_Family_Stone', 'ranking': 19, 'band_singer': 'Sly & the Family Stone', 'title': 'Thank You (Falettinme Be Mice Elf Agin)'}, {'url': '/wiki/Eric_Burdon', 'ranking': 20, 'band_singer': 'Eric Burdon', 'title': 'Spill the Wine'}, {'url': '/wiki/Five_Stairsteps', 'ranking': 21, 'band_singer': 'Five Stairsteps', 'title': 'O-o-h Child'}, {'url': '/wiki/Norman_Greenbaum', 'ranking': 22, 'band_singer': 'Norman Greenbaum', 'title': 'Spirit in the Sky'}, {'url': '/wiki/Melanie_Safka', 'ranking': 23, 'band_singer': 'Melanie Safka', 'title': 'Lay Down (Candles in the Rain)'}, {'url': '/wiki/The_Temptations', 'ranking': 24, 'band_singer': 'The Temptations', 'title': "Ball of Confusion (That's What the World Is Today)"}, {'url': '/wiki/Ray,_Goodman_%26_Brown', 'ranking': 25, 'band_singer': 'Ray, Goodman & Brown', 'title': 'Love on a Two-Way Street'}, {'url': '/wiki/The_Poppy_Family', 'ranking': 26, 'band_singer': 'The Poppy Family', 'title': "Which Way You Goin' Billy? (song)"}, {'url': '/wiki/Free_(band)', 'ranking': 27, 'band_singer': 'Free (band)', 'title': 'All Right Now'}, {'url': '/wiki/The_Jackson_5', 'ranking': 28, 'band_singer': 'The Jackson 5', 'title': 'I Want You Back'}, {'url': '/wiki/Bobby_Sherman', 'ranking': 29, 'band_singer': 'Bobby Sherman', 'title': 'Julie, Do Ya Love Me'}, {'url': '/wiki/Sugarloaf_(band)', 'ranking': 30, 'band_singer': 'Sugarloaf (band)', 'title': 'Green-Eyed Lady'}, {'url': '/wiki/Stevie_Wonder', 'ranking': 31, 'band_singer': 'Stevie Wonder', 'title': "Signed, Sealed, Delivered I'm Yours"}, {'url': '/wiki/Blues_Image', 'ranking': 32, 'band_singer': 'Blues Image', 'title': 'Ride Captain Ride'}, {'url': '/wiki/Shocking_Blue', 'ranking': 33, 'band_singer': 'Shocking Blue', 'title': 'Venus (Shocking Blue song)'}, {'url': '/wiki/John_Lennon', 'ranking': 34, 'band_singer': 'John Lennon', 'title': 'Instant Karma!'}, {'url': '/wiki/Clarence_Carter', 'ranking': 35, 'band_singer': 'Clarence Carter', 'title': 'Patches (Chairmen of the Board song)'}, {'url': '/wiki/Creedence_Clearwater_Revival', 'ranking': 36, 'band_singer': 'Creedence Clearwater Revival', 'title': "Lookin' out My Back Door"}, {'url': '/wiki/Brook_Benton', 'ranking': 37, 'band_singer': 'Brook Benton', 'title': 'Rainy Night in Georgia'}, {'url': '/wiki/Kenny_Rogers', 'ranking': 38, 'band_singer': 'Kenny Rogers', 'title': "Something's Burning (song)"}, {'url': '/wiki/Chairmen_of_the_Board', 'ranking': 39, 'band_singer': 'Chairmen of the Board', 'title': 'Give Me Just a Little More Time'}, {'url': '/wiki/Edison_Lighthouse', 'ranking': 40, 'band_singer': 'Edison Lighthouse', 'title': 'Love Grows (Where My Rosemary Goes)'}, {'url': '/wiki/The_Beatles', 'ranking': 41, 'band_singer': 'The Beatles', 'title': 'The Long and Winding Road'}, {'url': '/wiki/Anne_Murray', 'ranking': 42, 'band_singer': 'Anne Murray', 'title': 'Snowbird (song)'}, {'url': '/wiki/Marmalade_(band)', 'ranking': 43, 'band_singer': 'Marmalade (band)', 'title': 'Reflections of My Life'}, {'url': '/wiki/Eddie_Holman', 'ranking': 44, 'band_singer': 'Eddie Holman', 'title': 'Hey There Lonely Girl'}, {'url': '/wiki/The_Jaggerz', 'ranking': 45, 'band_singer': 'The Jaggerz', 'title': 'The Rapper'}, {'url': '/wiki/The_Hollies', 'ranking': 46, 'band_singer': 'The Hollies', 'title': "He Ain't Heavy, He's My Brother"}, {'url': '/wiki/Alive_N_Kickin%27', 'ranking': 47, 'band_singer': "Alive N Kickin'", 'title': 'Tighter, Tighter'}, {'url': '/wiki/Badfinger', 'ranking': 48, 'band_singer': 'Badfinger', 'title': 'Come and Get It (Badfinger song)'}, {'url': '/wiki/Simon_%26_Garfunkel', 'ranking': 49, 'band_singer': 'Simon & Garfunkel', 'title': 'Cecilia (Simon & Garfunkel song)'}, {'url': '/wiki/Charles_Wright_%26_the_Watts_103rd_Street_Rhythm_Band', 'ranking': 50, 'band_singer': 'Charles Wright & the Watts 103rd Street Rhythm Band', 'title': 'Love Land (song)'}, {'url': '/wiki/Tyrone_Davis', 'ranking': 51, 'band_singer': 'Tyrone Davis', 'title': 'Turn Back the Hands of Time (song)'}, {'url': '/wiki/The_Kinks', 'ranking': 52, 'band_singer': 'The Kinks', 'title': 'Lola (song)'}, {'url': '/wiki/Mungo_Jerry', 'ranking': 53, 'band_singer': 'Mungo Jerry', 'title': 'In the Summertime (Mungo Jerry song)'}, {'url': '/wiki/R._Dean_Taylor', 'ranking': 54, 'band_singer': 'R. Dean Taylor', 'title': 'Indiana Wants Me'}, {'url': '/wiki/Rare_Earth_(band)', 'ranking': 55, 'band_singer': 'Rare Earth (band)', 'title': "(I Know) I'm Losing You"}, {'url': '/wiki/Bobby_Sherman', 'ranking': 56, 'band_singer': 'Bobby Sherman', 'title': 'Easy Come, Easy Go (Bobby Sherman song)'}, {'url': '/wiki/Charles_Wright_%26_the_Watts_103rd_Street_Rhythm_Band', 'ranking': 57, 'band_singer': 'Charles Wright & the Watts 103rd Street Rhythm Band', 'title': 'Express Yourself (Charles Wright & the Watts 103rd Street Rhythm Band song)'}, {'url': '/wiki/The_Four_Tops', 'ranking': 58, 'band_singer': 'The Four Tops', 'title': 'Still Water (Love)'}, {'url': '/wiki/Chicago_(band)', 'ranking': 59, 'band_singer': 'Chicago (band)', 'title': 'Make Me Smile'}, {'url': '/wiki/Frijid_Pink', 'ranking': 60, 'band_singer': 'Frijid Pink', 'title': 'The House of the Rising Sun'}, {'url': '/wiki/Chicago_(band)', 'ranking': 61, 'band_singer': 'Chicago (band)', 'title': '25 or 6 to 4'}, {'url': '/wiki/White_Plains_(band)', 'ranking': 62, 'band_singer': 'White Plains (band)', 'title': "My Baby Loves Lovin'"}, {'url': '/wiki/The_Friends_of_Distinction', 'ranking': 63, 'band_singer': 'The Friends of Distinction', 'title': 'Love or Let Me Be Lonely'}, {'url': '/wiki/The_Brotherhood_of_Man', 'ranking': 64, 'band_singer': 'The Brotherhood of Man', 'title': 'United We Stand (song)'}, {'url': '/wiki/The_Carpenters', 'ranking': 65, 'band_singer': 'The Carpenters', 'title': "We've Only Just Begun"}, {'url': '/wiki/Mark_Lindsay', 'ranking': 66, 'band_singer': 'Mark Lindsay', 'title': 'Arizona (song)'}, {'url': '/wiki/James_Taylor', 'ranking': 67, 'band_singer': 'James Taylor', 'title': 'Fire and Rain (song)'}, {'url': '/wiki/Gene_Chandler', 'ranking': 68, 'band_singer': 'Gene Chandler', 'title': 'Groovy Situation'}, {'url': '/wiki/Santana_(band)', 'ranking': 69, 'band_singer': 'Santana (band)', 'title': 'Evil Ways'}, {'url': '/wiki/The_Guess_Who', 'ranking': 70, 'band_singer': 'The Guess Who', 'title': 'No Time (The Guess Who song)'}, {'url': '/wiki/The_Delfonics', 'ranking': 71, 'band_singer': 'The Delfonics', 'title': "Didn't I (Blow Your Mind This Time)"}, {'url': '/wiki/Elvis_Presley', 'ranking': 72, 'band_singer': 'Elvis Presley', 'title': 'The Wonder of You'}, {'url': '/wiki/Creedence_Clearwater_Revival', 'ranking': 73, 'band_singer': 'Creedence Clearwater Revival', 'title': 'Up Around the Bend'}, {'url': '/wiki/Ronnie_Dyson', 'ranking': 74, 'band_singer': 'Ronnie Dyson', 'title': "(If You Let Me Make Love To You Then) Why Can't I Touch You?"}, {'url': '/wiki/B.J._Thomas', 'ranking': 75, 'band_singer': 'B.J. Thomas', 'title': "I Just Can't Help Believing"}, {'url': '/wiki/The_Spinners_(American_band)', 'ranking': 76, 'band_singer': 'The Spinners (American band)', 'title': "It's a Shame (The Spinners song)"}, {'url': '/wiki/Bobbi_Martin', 'ranking': 77, 'band_singer': 'Bobbi Martin', 'title': 'For the Love of Him'}, {'url': '/wiki/Mountain_(band)', 'ranking': 78, 'band_singer': 'Mountain (band)', 'title': 'Mississippi Queen'}, {'url': '/wiki/Ike_%26_Tina_Turner', 'ranking': 79, 'band_singer': 'Ike & Tina Turner', 'title': 'I Want to Take You Higher'}, {'url': '/wiki/Joe_Cocker', 'ranking': 80, 'band_singer': 'Joe Cocker', 'title': 'The Letter (Box Tops song)'}, {'url': '/wiki/Tee-Set', 'ranking': 81, 'band_singer': 'Tee-Set', 'title': 'Ma Belle Amie'}, {'url': '/wiki/The_Originals_(band)', 'ranking': 82, 'band_singer': 'The Originals (band)', 'title': 'The Bells (The Originals song)'}, {'url': '/wiki/Christie_(band)', 'ranking': 83, 'band_singer': 'Christie (band)', 'title': 'Yellow River (song)'}, {'url': '/wiki/100_Proof_(Aged_in_Soul)', 'ranking': 84, 'band_singer': '100 Proof (Aged in Soul)', 'title': "Somebody's Been Sleeping"}, {'url': '/wiki/The_Ides_of_March_(band)', 'ranking': 85, 'band_singer': 'The Ides of March (band)', 'title': 'Vehicle (song)'}, {'url': '/wiki/The_Pipkins', 'ranking': 86, 'band_singer': 'The Pipkins', 'title': 'Gimme Dat Ding (song)'}, {'url': '/wiki/Robin_McNamara', 'ranking': 87, 'band_singer': 'Robin McNamara', 'title': "Lay a Little Lovin' on Me"}, {'url': '/wiki/The_Supremes', 'ranking': 88, 'band_singer': 'The Supremes', 'title': 'Up the Ladder to the Roof'}, {'url': '/wiki/Creedence_Clearwater_Revival', 'ranking': 89, 'band_singer': 'Creedence Clearwater Revival', 'title': "Travelin' Band"}, {'url': '/wiki/The_Sandpipers', 'ranking': 90, 'band_singer': 'The Sandpipers', 'title': 'Come Saturday Morning (song)'}, {'url': '/wiki/The_Temptations', 'ranking': 91, 'band_singer': 'The Temptations', 'title': 'Psychedelic Shack (song)'}, {'url': '/wiki/Tom_Jones_(singer)', 'ranking': 92, 'band_singer': 'Tom Jones (singer)', 'title': 'Without Love (There Is Nothing)'}, {'url': '/wiki/Pacific_Gas_%26_Electric_(band)', 'ranking': 93, 'band_singer': 'Pacific Gas & Electric (band)', 'title': 'Are You Ready? (Pacific Gas & Electric song)'}, {'url': '/wiki/Crosby,_Stills,_Nash_%26_Young', 'ranking': 94, 'band_singer': 'Crosby, Stills, Nash & Young', 'title': 'Woodstock (song)'}, {'url': '/wiki/Dionne_Warwick', 'ranking': 95, 'band_singer': 'Dionne Warwick', 'title': "I'll Never Fall in Love Again"}, {'url': '/wiki/The_New_Seekers', 'ranking': 96, 'band_singer': 'The New Seekers', 'title': "Look What They've Done to My Song Ma"}, {'url': '/wiki/Joe_South', 'ranking': 97, 'band_singer': 'Joe South', 'title': 'Walk A Mile In My Shoes'}, {'url': '/wiki/B.B._King', 'ranking': 98, 'band_singer': 'B.B. King', 'title': 'The Thrill Is Gone (1951 song)'}, {'url': '/wiki/Glen_Campbell', 'ranking': 99, 'band_singer': 'Glen Campbell', 'title': "It's Only Make Believe"}, {'url': '/wiki/Aretha_Franklin', 'ranking': 100, 'band_singer': 'Aretha Franklin', 'title': 'Call Me (Aretha Franklin song)'}]

### 1.2 Scrape Billboard Wikipedia's pages from 1992 to 2020

By visiting urls similar to the one for 1970, we can obtain the billboard top 100 for the years 1992 to 2020. 

Store the text from your `requests` in a dictionary called `yearstext`. 
This dictionary should have as its keys the years (as integers from 1992 to 2020). The values corresponding to these keys should be the html text downloaded from Wikipedia.<br>
So, each entry in `yearstext` will look something like this:

![yearstext](https://drive.google.com/uc?export=view&id=16LNIyznVnAY-N5EN6lsSB9505fXG1-zK)

where the key is 1992 and the value is the HTML at http://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1992.

*Hint*:
Put your requests.get() in a `for` loop and keep appending the text from your requests into the dictionary. Use the `time.sleep` function to wait one second between requests, you do not want Wikipedia to think you are a marauding bot attempting to mount a denial-of-service attack.

In [ ]:
#your code here
yearstext = {}
for year in range(29):
  url = "https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_"+str(1992+year)
  response = requests.get(url)
  time.sleep(3)

  # print(url, "==>",response.status_code)
  data = response.text
  data = BeautifulSoup(data, 'html.parser')
  yearstext[1992+year] = data

In [ ]:
yearstext.keys()

dict_keys([1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])

### 1.3 Parse the data

Now, write a function `parse_year(year, yeartextdict)` that returns a dictionary `yearinfo`.
Here `year` should be the integer value of the year, and `yeartextdict` should be the HTML text for the corresponding webpage. 
This function should return a dictionary of the following form:

```
{'ranking': 32,
 'song': ['Hot Boyz (song)'],
 'songurl': ['/wiki/Hot_Boyz_(song)'],
 'titletext': '"Hot Boyz"',
 'band_singer': ['Missy Elliott', 'Nas', 'Eve (rapper)', 'Q-Tip (musician)'],
 'url': ['/wiki/Missy_Elliott',
  '/wiki/Nas',
  '/wiki/Eve_(rapper)',
  '/wiki/Q-Tip_(musician)']}
```
Notice that the `titletext` is the contents of the table cell, and retains the quotes that wikipedia puts on the single.

Here are some issues that you will need to take care of:

1.   The example shown above has several artists for a single song. In this case, the `band_singer` and `url` would be a list of items.

2.   Some singles might even have multiple songs because of the way the industry works:
```
{'ranking': 98,
 'song': ["You're Makin' Me High", 'Let It Flow (song)'],
 'songurl': ['/wiki/You%27re_Makin%27_Me_High', '/wiki/Let_It_Flow_(song)'],
 'titletext': '"You\'re Makin\' Me High" / "Let It Flow"',
 'band_singer': ['Toni Braxton'],
 'url': ['/wiki/Toni_Braxton']}
```
(See 1997 for an example)

3. Some songs don't have a URL. In this case, assume there is one song in the single, set `songurl` to [`None`] and the song name to the contents of the table cell with the quotes stripped:
```
{'ranking': 45,
  'song': ['Say It'],
  'songurl': [None],
  'titletext': '"Say It"',
  'band_singer': ['Voices of Theory'],
  'url': ['/wiki/Voices_of_Theory']}
```
(See 1998 for an example)

In [ ]:
"""
Function
--------
parse_year

Inputs
------
year: the year you want the singles for
ytextdixt: a dictionary with keys as integer years and values the downloaded web pages 
    from wikipedia for that year.
   
Returns
-------

a list of dictionaries, each of which corresponds to a single and has the
following data:

Eg:

{'band_singer': ['Brandy', 'Monica'],
  'ranking': 2,
  'song': ['The Boy Is Mine'],
  'songurl': ['/wiki/The_Boy_Is_Mine_(song)'],
  'titletext': '" The Boy Is Mine "',
  'url': ['/wiki/Brandy_Norwood', '/wiki/Monica_(entertainer)']}
  
A dictionary with the following data:
    band_singer: a list of bands/singers who made this single
    song: a list of the titles of songs on this single
    songurl: a list of the same size as song which has urls for the songs on the single 
        (see point 3 above)
    ranking: ranking of the single
    titletext: the contents of the table cell
    band_singer: a list of bands or singers on this single
    url: a list of wikipedia singer/band urls on this single: only put in the part 
        of the url from /wiki onwards
    
"""
#your code here

'\nFunction\n--------\nparse_year\n\nInputs\n------\nyear: the year you want the singles for\nytextdixt: a dictionary with keys as integer years and values the downloaded web pages \n    from wikipedia for that year.\n   \nReturns\n-------\n\na list of dictionaries, each of which corresponds to a single and has the\nfollowing data:\n\nEg:\n\n{\'band_singer\': [\'Brandy\', \'Monica\'],\n  \'ranking\': 2,\n  \'song\': [\'The Boy Is Mine\'],\n  \'songurl\': [\'/wiki/The_Boy_Is_Mine_(song)\'],\n  \'titletext\': \'" The Boy Is Mine "\',\n  \'url\': [\'/wiki/Brandy_Norwood\', \'/wiki/Monica_(entertainer)\']}\n  \nA dictionary with the following data:\n    band_singer: a list of bands/singers who made this single\n    song: a list of the titles of songs on this single\n    songurl: a list of the same size as song which has urls for the songs on the single \n        (see point 3 above)\n    ranking: ranking of the single\n    titletext: the contents of the table cell\n    band_singer: a list of bands or singers on this single\n    url: a list of wikipedia singer/band urls on this single: only put in the part \n        of the url from /wiki onwards\n    \n'

In [ ]:
def get_single_dict(row):
    """
    input: list of contents in single row
    output: dictionary of content from single row
    """
    
    children = [child for child in row.children]
    children = list(filter(lambda x: x != '\n', children))
    ranking = children[0].string
    band_singers = children[2].find_all('a')
    band_singer = [band.string for band in band_singers]
    url = [url['href'] for url in band_singers]
    songs = children[1].find_all('a')
    songurl = [song['href'] for song in songs]
    
    #handles edge cases where row content is missing
    if songurl == []:
        songurl = [None]
    song = [song.string for song in songs]
    if not song:
        song = children[1].string
        
    if type(song) == list:
        title = '/'.join(str(s) for s in song)
    else:
        title = song

    single_dict = {'band_singer': band_singer, 'ranking': ranking, 'song': song,
                   'songurl':songurl, 'titletext':title, 'url': url}
    return single_dict


def parse_year(the_year, yeartext_dict):
    
    # soup = BeautifulSoup(yeartext_dict[str(the_year)], 'html.parser')
    soup = yeartext_dict[the_year]
    tables_wikitable = soup.find_all('table', 'wikitable')
    rows = [row for row in tables_wikitable[0].find_all('tr')][1:]
    yearinfo = [get_single_dict(row) for row in rows]
    return yearinfo

# parse_year(1997, yearstext)

In [ ]:
list(yearstext.keys())

[1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020]

In [ ]:
#BE ALWAYS ALIVE YOU piece OF Krraip lol 
# while True:pass

In [ ]:
years = list(yearstext.keys())
yearinfo = {y: parse_year(y, yearstext) for y in years}

In [ ]:
yearinfo.keys()

dict_keys([1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])

In [ ]:
# for year in range(1992, 2021):
#     yearinfo = parse_year(year, yearstext)
#     fd = open("{0}info.json".format(str(year)),"w")
#     json.dump(yearinfo, fd)
#     fd.close()

In [ ]:
#your code here
# yearinfo = { }

Save this dictionary as a json file so you do not need to run it over and over again.

In [ ]:
#Store the dictionary and delete the variable
fd = open("yearinfo.json","w")
json.dump(yearinfo, fd)
fd.close()
del yearinfo

In [ ]:
!ls /content/gdrive/MyDrive/DS-1
!cp  /content/yearinfo.json  /content/gdrive/MyDrive/DS-1/HW-1
!ls /content/gdrive/MyDrive/DS-1

HW-1
HW-1

In [ ]:
# !ls -ltrh /content/gdrive/MyDrive/DS-1/HW-1/yearinfo.json
!ls

artistinfo.json  flatframedf  gdrive  sample_data  yearinfo.json

In [ ]:
#Load the dictionary back to the same variable
with open("/content/yearinfo.json", "r") as fd:
  yearinfo = json.load(fd)

## Q2: Construct a year-song-singer dataframe 
#### [20 points]

Now, let's construct a dataframe from the dictionary created in the previous section `yearinfo`. 
Name this dataframe `flatframe`.

Keep in mind, in the data structure we have so far, a given key can have a list of values with multiple entries. Also, our data is grouped by year. So we need a way to flatten this data into a format that will create a useful DataFrame. 

An easy way to do this is to use the pandas `concat` function.

Your final dataframe `flatframe` should look something like this:
![flatframexample](https://drive.google.com/uc?export=view&id=12hlpB-zRGJh6JYCTcMoTzumKSyXgfoiY)

In [ ]:
#your code here 

# def createDF(year):



# flatframe = pd.DataFrame(yearinfo['1992'])
# flatframe.head(5)

In [ ]:
testlist = []

# testlist.extend(yearinfo['1992'])
# testlist.extend(yearinfo['1993'])
df1 = pd.DataFrame(yearinfo[str(years[0])])
df1['year'] = years[0]
for year in years[1:]:
  # testlist.extend(yearinfo[str(year)])
  
  df2 = pd.DataFrame(yearinfo[str(year)])
  df2['year'] = year
  df1 = pd.concat([df1, df2], axis=0)
  

testlist
df1.head(5)
# df1['year'].value_counts()

          band_singer ranking  ...                          url  year
0       [Boyz II Men]       1  ...          [/wiki/Boyz_II_Men]  1992
1     [Sir Mix-a-Lot]       2  ...        [/wiki/Sir_Mix-a-Lot]  1992
2        [Kris Kross]       3  ...           [/wiki/Kris_Kross]  1992
3  [Vanessa Williams]       4  ...  [/wiki/Vanessa_L._Williams]  1992
4               [TLC]       5  ...           [/wiki/TLC_(band)]  1992

[5 rows x 7 columns]

In [ ]:
flatframe = pd.DataFrame(df1)
#flatframe1.head(5)

In [ ]:
flatframe.year.unique

<bound method Series.unique of 0     1992
1     1992
2     1992
3     1992
4     1992
      ...
95    2020
96    2020
97    2020
98    2020
99    2020
Name: year, Length: 2900, dtype: int64>

Check your dataframes data types and convert them to the correct data types if needed.

In [ ]:
flatframe.reset_index(inplace = True)

In [ ]:
#clean dataframe, create new rows for singles with multiple band_singers

cols = ['band_singer', 'song', 'songurl', 'url']
for col in cols:
    flatframe[col] = flatframe[col].apply(lambda x: x[0] if type(x) == list and len(x)==1 else x) 
    
bands_expanded = flatframe.apply(lambda x: pd.Series(x['band_singer']),axis=1).stack().reset_index(level=1, drop=True)
urls_expanded = flatframe.apply(lambda x: pd.Series(x['url']),axis=1).stack().reset_index(level=1, drop=True)
df_bandrows = pd.concat([bands_expanded, urls_expanded], axis = 1)
df_bandrows.columns = ['band_singer', 'url']

flatframe = flatframe.drop(df_bandrows.columns, axis=1).join(df_bandrows)
#clean rankings, strip new line
flatframe.ranking = flatframe.ranking.str.strip('\n')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [ ]:
#create new row for singles with multiple songs 

newframe =flatframe[flatframe.song.apply(lambda x: type(x) == list)]
flatframe_dropped = flatframe[flatframe.song.apply(lambda x: type(x) != list)]

songs_expanded = newframe.apply(lambda x: pd.Series(x['song']),axis=1).stack().reset_index(level=1, drop=True)
songurls_expanded = newframe.apply(lambda x: pd.Series(x['songurl']),axis=1).stack().reset_index(level=1, drop=True)


df_expanded = pd.concat([songs_expanded, songurls_expanded], axis = 1)
df_expanded.columns = ['song', 'songurl']

flatframe = flatframe.drop(df_expanded.columns, axis = 1).join(df_expanded, how = 'inner')
flatframe = pd.concat([flatframe_dropped, flatframe], sort = True)
flatframe = flatframe[['ranking', 'band_singer','song', 'songurl', 
                         'titletext', 'url', 'year']]

In [ ]:
flatframe = flatframe[~flatframe.ranking.isna()]

In [ ]:
#handle case of ranking ties
flatframe.loc[:,0] = flatframe.ranking.apply(lambda x: '0' if x == 'Tie' else x)

flatframe = flatframe.astype({'ranking': int, 'url': str})
tied_rankings = flatframe[flatframe.ranking == 0].index
tied_values = [38, 55,86, 92, 92]
for i, tie in enumerate(tied_rankings):
    flatframe.loc[tie, 'ranking' ] = tied_values[i]

In [ ]:
flatframe.head(5)
# flatframe.0.head()
flatframe1 = flatframe.copy()
flatframe = flatframe.drop(0, axis=1)
flatframe.head(5)

   ranking       band_singer  ...                        url  year
0        1       Boyz II Men  ...          /wiki/Boyz_II_Men  1992
1        2     Sir Mix-a-Lot  ...        /wiki/Sir_Mix-a-Lot  1992
2        3        Kris Kross  ...           /wiki/Kris_Kross  1992
3        4  Vanessa Williams  ...  /wiki/Vanessa_L._Williams  1992
4        5               TLC  ...           /wiki/TLC_(band)  1992

[5 rows x 7 columns]

We use this dataframe in Homework 2, so store this dataframe so you won't need to run this again!

The easiest way is to pickle it using to_pickle:

In [ ]:
#Store the dataframe and delete the variable
flatframe.to_pickle('/content/flatframedf')
del flatframe

In [ ]:
#Loading in the dataframe
flatframe = pd.read_pickle('/content/flatframedf')
flatframe.head()

   ranking       band_singer  ...                        url  year
0        1       Boyz II Men  ...          /wiki/Boyz_II_Men  1992
1        2     Sir Mix-a-Lot  ...        /wiki/Sir_Mix-a-Lot  1992
2        3        Kris Kross  ...           /wiki/Kris_Kross  1992
3        4  Vanessa Williams  ...  /wiki/Vanessa_L._Williams  1992
4        5               TLC  ...           /wiki/TLC_(band)  1992

[5 rows x 7 columns]

## Q3: Scrape and Parse Wikipedia for Information about Artists and Bands 
#### [25 points]

Now, we need to fetch information about the singers or bands for all the songs in a list of years.

### 3.1 Scrape the artist's Wikipedia webpages

Since we have hundreds of artists webpages to scrape, we have created a function which implements caching in order to speed up this process.

The cache object `urlcache` that will avoid redundant HTTP requests (e.g. an artist might have multiple singles on a single year, or be on the list over a span of years). Remember that this function is designed to be used in a loop over years, and then a loop over songs per year. Since network requests are relatively slow, if we have already requested for a singer or band's wikipedia page, caching the results is a smart thing to do.



Notice that we have wrapped the call in _an exception block_. If the request gets an HTTP code different from 200, the cells for that URL will have a value of 1; and if the request completely fails (e.g. no network connection) the cell will have a value of 2. This will allow you to analyse the failed requests.

In [ ]:
urlcache={}
def get_page(url):
    if (url not in urlcache) or (urlcache[url]==1) or (urlcache[url]==2):
        time.sleep(1)
        try:
            r = requests.get("http://en.wikipedia.org%s" % url)
            if r.status_code == 200:
                urlcache[url] = r.text
            else:
                urlcache[url] = 1
        except:
            urlcache[url] = 2
    return urlcache[url]

Before we apply our function to the dataframe, let us sort `flatframe` by year. This will ensure that we will hit the cache most as singers who show up repeatedly in the rankings will have their information already pulled.

In [ ]:
flatframe=flatframe.sort_values('year')
flatframe.head()

    ranking  ...  year
0         1  ...  1992
71       72  ...  1992
70       71  ...  1992
69       70  ...  1992
68       69  ...  1992

[5 rows x 7 columns]

In [ ]:
flatframe = flatframe[~flatframe.ranking.isna()]

In [ ]:
flatframe

      ranking  ...  year
0           1  ...  1992
71         72  ...  1992
70         71  ...  1992
69         70  ...  1992
68         69  ...  1992
...       ...  ...   ...
2844       45  ...  2020
2845       46  ...  2020
2846       47  ...  2020
2847       48  ...  2020
2818       19  ...  2020

[3914 rows x 7 columns]

In [ ]:
# Here we are populating the url cache
#Note that this function will take aroun    d 20 minutes to run as we are requestinf for several pages
#This function is designed to be run again and again: it just tries to make sure that there are no unresolved pages left. 
flatframe["url"].apply(get_page)
flatframe["url"]

0                          /wiki/Boyz_II_Men
71                        /wiki/Ugly_Kid_Joe
70                            /wiki/The_Cure
69                         /wiki/Bryan_Adams
68      /wiki/Marky_Mark_and_the_Funky_Bunch
                        ...
2844                      /wiki/Travis_Scott
2845                     /wiki/Billie_Eilish
2846                         /wiki/Iann_Dior
2847                     /wiki/Ariana_Grande
2818                         /wiki/Saint_Jhn
Name: url, Length: 3914, dtype: object

In [ ]:
#Let us make sure that there are no unresolved pages
#The sum below should be 0, and the boolean True. If that is not the case, run the above cell again until you get a sum of 0 and a boolean True
print (np.sum([(urlcache[k]==1) or (urlcache[k]==2) and isinstance(k,str) for k in urlcache]))
print (len(flatframe.url.unique())==len(urlcache))#we got all of the urls

0
True

In [ ]:
#Let's save the `urlcache` and remove the old object. 
keys_values = urlcache.items()
urlcache = {str(key): str(value) for key, value in keys_values}
with open("/content/artistinfo.json","w") as fd:
    json.dump(urlcache, fd)
del urlcache

In [ ]:
with open("/content/artistinfo.json") as json_file:
    urlcache = json.load(json_file)

In [ ]:
flatframe.band_singer.value_counts()

Drake                  56
Rihanna                46
Lil Wayne              36
Chris Brown            33
Usher                  31
                       ..
Loreena McKennitt       1
Billy Joel              1
Technotronic            1
Carl Thomas             1
Diddy – Dirty Money     1
Name: band_singer, Length: 1261, dtype: int64

In [ ]:
flatframe

      ranking  ...  year
0           1  ...  1992
71         72  ...  1992
70         71  ...  1992
69         70  ...  1992
68         69  ...  1992
...       ...  ...   ...
2844       45  ...  2020
2845       46  ...  2020
2846       47  ...  2020
2847       48  ...  2020
2818       19  ...  2020

[3914 rows x 7 columns]

### 3.2 Parse the data

Now, we need to extract the following information from each page. Write a function `singer_band_info(url, page_text)` that returns a dictionary. 

Here `url` should be the path the url corresponding to the singer's Wikipedia page (same as the previous dataframe `flatframe`), and page_text should be the HTML text for the corresponding artist's webpage. 

This function should return a dictionary which contains the following information:

1. The genres of the band or singer. These genres should be urls, to ensure their uniqueness. Create a list, `genres`, of these urls. If there are no genres, use `['NA']`.

2. If the page has the text "Born", extract the element with the class `.bday`. If there is no "Born", store `False`. Store either of these into the variable `born`. 

3. If the text "Years active" is found, but there is no birthday, assume a band. Store the years active into the variable `ya`, or `False` if the text is not found. 

The information can be found below the artists image on each such wikipedia page, as the example here shows:


![EdSheeran](https://drive.google.com/uc?export=view&id=1NJi2C-Gi5HPziuPxefNcjj5i4-04kuQ-)

The dictionary returned should be of the form:
```
{ 'url': '/wiki/Boyz_II_Men', 
'genres': ['/wiki/Contemporary_R%26B_music', '/wiki/Soul_music', '/wiki/New_jack_swing'], 
'born': None, 
'ya': '1987–present'}
```

Wikipedia has changed it's format along the years! So observing one artist's webpage and building your function based on it will probably give you tons of errors. 

Here are a few issues to remember while parsing:

1.   There are several artists that take a sabbatical between their active years (https://en.wikipedia.org/wiki/Tony!_Toni!_Ton%C3%A9!). To get the right data, write a function to calculate the longest period of time they were active and consider that as your variable `years active`. In the example give, this would be 2003–present.
2.   Birthday's are given in different formats for different pages. For example - https://en.wikipedia.org/wiki/Sir_Mix-a-Lot and https://en.wikipedia.org/wiki/Ed_Sheeran have different formats. To ensure that you get the right day, look for the 'span' tag with a 'bday' tag and ensure that there are no paranthesis around the extracted text.
3. Year's active are also given in different formats. For example - https://en.wikipedia.org/wiki/Boyz_II_Men and https://en.wikipedia.org/wiki/Ed_Sheeran are different. You could use regex ("[0-9]{4}[–][0-9]{4}" and "[0-9]{4}[–][0-9]{4}") to ensure you are getting the right years.<br> Report the edge cases found and why the Regex expression takes care of all these edge cases.

Definitely do look at your outputs as you are parsing as it can identify several edge cases you have not considered in your code.

Before parsing, it is important to note that Wikipedia has defined the same genre in a few different ways. Our parsing code will pick these up as different and new as they all differ with the alphabet case or an underscore instead of a hyphen.

We have defined a function to ensure that we have the correct representation of the number of artists in a particular genre.

In [ ]:
genres_duplicates={'/wiki/Adult_Contemporary_music':'/wiki/Adult_contemporary','/wiki/Adult_contemporary_music':'/wiki/Adult_contemporary',
'/wiki/Afrobeat':'/wiki/Afrobeats',
'/wiki/Alternative_rock':'/wiki/Alternative_Rock',
'/wiki/Avant-garde':'/wiki/Avant-garde_music',
'/wiki/Blues':'/wiki/Blues_music',
'/wiki/Comedy_hip-hop':'/wiki/Comedy_hip_hop',
'/wiki/Contemporary_R%26B':'/wiki/Contemporary_R%26B_music',
'/wiki/Contemporary_folk':'/wiki/Contemporary_folk_music',
'/wiki/Country_Folk':'/wiki/Country_folk',
'/wiki/Dance_pop':'/wiki/Dance-pop',
'/wiki/East_Coast_hip_hop':'/wiki/East_coast_hip_hop',
'/wiki/Electronic_Dance_Music':'/wiki/Electronic_dance_music',
'/wiki/Electronica':'/wiki/Electronica_music',
'/wiki/Emo':'/wiki/Emo_music',
'/wiki/Electropop':'/wiki/Electro-pop',
'/wiki/Folk-pop':'/wiki/Folk_pop',
'/wiki/Funk':'/wiki/Funk_music',
'/wiki/Grime_(music_genre)':'/wiki/Grime_music',
'/wiki/Gangsta_Rap':'/wiki/Gangsta_rap',
'/wiki/Hip_Hop_music': '/wiki/Hip_hop','/wiki/Hip_hop_music':'/wiki/Hip_hop',
'/wiki/Hyphy':'/wiki/Hyphy_music',
'/wiki/Latin_music':'/wiki/Latin_music_(genre)',
'/wiki/West_Coast_hip_hop':'/wiki/West_coast_hip_hop',
'/wiki/Southern_Hip_Hop':'/wiki/Southern_hip_hop',
'/wiki/Ska':'/wiki/Ska_music',
'/wiki/Pop-rock':'/wiki/Pop_rock',
'/wiki/Pop_Music':'/wiki/Pop_music',
'/wiki/Nu_metal':'/wiki/Nu_metal_music'}

def genre_duplicates(genres):
    for i in range(len(genres)):
        if genres[i] in genres_duplicates.keys():
            genres[i]=genres_duplicates[genres[i]]
    return genres

Define a function to calculate the longest active years

Please write the function `singer_band_info` according to the following specification:

In [ ]:
"""
Function
--------
singer_band_info

Inputs
------
url: the url
page_text: the text associated with the url
   
Returns
-------
A dictionary with the following data:
    url: copy the input argument url into this value
    genres: the genres that the band or singer works in
    born: the artist's birthday
    ya: years active variable

Notes
-----
See description above. Also note that some of the genres urls might require a 
bit of care and special handling.
"""

#your code here
import bs4 

def singer_band_info(url, page_text):
    
    born = False
    ya = False
    soup = BeautifulSoup(page_text,'html.parser') 
    table_strings = [th.string for th in soup.find_all('th')]
    
    #get and clean year born data
    if "Born" in table_strings:
        year_born_td = [tr.td for tr in soup.find_all('tr') if
                        tr.th and tr.th.string == 'Born'][0]
        for child in year_born_td.children:
            span = child.find('span')

            try:
         
              if type(span) == bs4.element.Tag and span.span:
                  born = span.span.string

              
              elif type(span) == bs4.element.Tag and span['class'] == ['bday']:
                  born = span.string  

            except:
              born = ''
                
    #get and clean year active data   
    elif "Years active" in table_strings:
        years_active_td = [tr.td for tr in soup.find_all('tr') if 
                        tr.th and tr.th.string == 'Years active'][0] 
        
        if years_active_td.string:
            ya = years_active_td.string.split("–")
       
        elif not years_active_td.find_all('li'):
            ya = [date for date in years_active_td.contents 
                  if type(date) == bs4.element.NavigableString]
     
        else:
            ya = []
            for li in years_active_td.find_all('li'):
                ya += [date for date in li.contents 
                       if type(date) == bs4.element.NavigableString]
                if len(ya) == 1:
                    ya = ya[0].split('–')

    if "Genres" in table_strings:
      genres_td = [tr.td for tr in soup.find_all('tr') if tr.th and tr.th.string == 'Genres'][0]
      temp_list = []

      for ge in genres_td.find_all('li'):
        try:
          temp_list.append(ge.contents[0]['href'])
        except:
          temp_list = []

    else:
      temp_list = []

    return {"url": url, "born": born,"ya": ya, 'genres' : temp_list}
  
band_singer_info_df = pd.DataFrame(columns =['url', 'born', 'ya','genres'])


for key, value in urlcache.items():
    if type(value) != int:
        band_singer_info_df = band_singer_info_df.append(singer_band_info(key, value), ignore_index = True)

In [ ]:
for c in band_singer_info_df['genres'].loc[0].children:
  temp = c.find_all('a')

[t['href' for t in temp]

In [ ]:
band_singer_info_df.head()

                                    url  ...                                             genres
0                     /wiki/Boyz_II_Men  ...  [/wiki/Contemporary_R%26B, /wiki/New_jack_swin...
1                    /wiki/Ugly_Kid_Joe  ...  [/wiki/Hard_rock, /wiki/Heavy_metal_music, /wi...
2                        /wiki/The_Cure  ...                                                 []
3                     /wiki/Bryan_Adams  ...  [/wiki/Rock_music, /wiki/Pop_rock, /wiki/Soft_...
4  /wiki/Marky_Mark_and_the_Funky_Bunch  ...  [/wiki/Hip_hop_music, /wiki/Eurodance, /wiki/N...

[5 rows x 4 columns]

Let's iterate over the items in the singer-group dictionary cache `urlcache`, run the above function, and create a list.

Each element in this list is the dictionary that the function `singer_band_info` returns. 

The list should look something like this:
```
  'genres': ['/wiki/Contemporary_R%26B_music',
   '/wiki/Soul_music',
   '/wiki/New_jack_swing'],
  'url': '/wiki/Boyz_II_Men',
  'ya': '1987–present'},
 {'born': None,
  'genres': ['/wiki/Pop_music',
   '/wiki/Electronica_music',
   '/wiki/Dance_music',
   '/wiki/Rave_music',
   '/wiki/House_music'],
  'url': '/wiki/KWS_(band)',
  'ya': '1991–1994'},
 ... and so on]
  ```

In [ ]:
#your code here

In [ ]:
#Store the list and delete the variable
with open("singer_band_info_list.json","w") as fd:
    json.dump(singer_band_info_list, fd)
del singer_band_info_list

NameError: ignored

In [ ]:
#Load the list into a variable
with open("/content/gdrive/MyDrive/DS-1/HW-1/singer_band_info.json") as json_file:
    singer_band_info_list = json.load(json_file)

Create a dataframe from the list `singer_band_info_list`.

In [ ]:
#your code here
df_singer = pd.DataFrame.from_dict(singer_ban_info_list)

NameError: ignored

## Q4: Merging Artist's and Song dataframes
#### [15 points]

Now, merge the artist/song data frames into one large dataframe. Note that this has an effect of imputing to a song **all the genres** that the artist is active in. We know that this is not true, but it is the simplest assumption we can make, and is probably good for most artists.

In [ ]:
#your code here

Update the dataframe by adding a column for each genre with 1-0 encoding for each row. This means, we want columns like "/wiki/Alternative_Rock", "/wiki/Acid_jazz", where if an artist is in that genre, the dataframe cell has a 1. Otherwise, it has a 0.

Remember that an artist/band can be in multiple genres, and must have a 1 for each column corresponding to these genres, and 0 otherwise.

This will widen the dataframe by the total number of genres that we have. The expanded part will look a bit like this:

![largedfexample](https://drive.google.com/uc?export=view&id=1YgIVsyjWLXIAipI5dF2H4fvAmQodpE8L)

In [ ]:
#your code here

Ensure the data types of the dataframe is correct

In [ ]:
#your code here

In [ ]:
#Store the dataframe to use in HW-2 
largedf.to_pickle('/content/largedf')
del largedf

In [ ]:
#Loading in dataframe
largedf = pd.read_pickle('/content/gdrive/MyDrive/DS-1 /HW-1/largedf')
largedf.head()

## Q5: Pandas and Relational databases
#### [20 points]

### 5.1 Populating the database

We use sqlite3 here. There is an even higher level API available, called SQLAlchemy.  However SQLite is built into Python and also has a command line tool and sqlite browser that you can install.

In [ ]:
import sqlite3 as sql

Let us start by creating our schema to set the type of each column in our dataframe.

In [ ]:
#your code here 
#ourschema=' '

#lets create a schema to work on our data using SQL
ourschema="""
DROP TABLE IF EXISTS "largedf";
CREATE TABLE "largedf" (
    "year" INTEGER
    "band_singer" VARCHAR,
    "url" 
    "song" VARCHAR,
    "songurl" 
    "ranking" INTEGER
    "born" DATETIME NOT NULL
    "ya" VARCHAR
);

"""

NameError: ignored

Next, create a connection object which will connect us to the database and will let us execute the SQL statements. 
Create an object of the cursor using the connection object and execute our schema. 
Finally, use the `to_sql` function and convert our large expanded dataframe from the last section to a table.

In [ ]:
#your code here
#connect
from sqlite3 import dbapi2 as sq3
from pathlib import Path
PATHSTART="."
def get_db(dbfile):
    sqlite_db = sq3.connect(Path(PATHSTART) / dbfile)
    return sqlite_db

In [ ]:
def init_db(dbfile, schema):
    db = get_db(dbfile) 
    db.cursor().executescript(schema)
    db.commit()
    return db

In [ ]:
#Converts into a SQL Database
dfcand.to_sql("largedf", db, if_exists="append", index=False)

### 5.2 Performing operations on the database

Answer the following questions by writing SQL statements.

#### 5.2.1 Select all singers below the age of 20 whos Zodiac Sign is Scorpio!

In [ ]:
#your code here
#scorpio dataes from October 23 to November 21.
#we need to seperate the born into month/day/year

#singer_Scorpio = make_query("SELECT singer * FROM largedf WHERE (born-2021)>20 ")
#make_frame(out, legend=largedf_cols)
SELECT singer, 
FROM largedf 
WHERE (2021-born)>20;

#### 5.2.2 Find the most popular artists with most appearances in Billboard Top 10

In [ ]:
#your code here
# most_pop = make_query("SELECT singer * FROM largedf WHERE ranking <10 or ranking == 10")
# make_frame(out, legend=largedf_cols)
SELECT singer,
FROM largedf 
WHERE ranking <10 or ranking == 10;

#### 5.2.3 Select all songs with ranking less than 6 and order the rows by artist name

In [ ]:
#your code here 
# ranking_less_than_6 = make_query("SELECT song * FROM largedf WHERE ranking <10 or ranking == 10")
# make_frame(out, legend=largedf_cols)
SELECT song,
FROM largedf 
WHERE ranking <10 or ranking == 10;